*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans','맑은 고딕','Malgun Gothic',Arial,Helvetica,sans-serif,Lucida,Grande,'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: none;
}
ul{
    list-style: none;
}
#title {
    cursor: pointer;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
    color: white;
    font-size: 100px;
    position: relative;
}
#title{
    position: absolute;
    top: 55px;
    min-width: 660px;
}
#wrap_nav {
    min-width: 800px;
    width: 80vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    border-top: solid white 1px;
}
#wrap_nav li{
    cursor: pointer;
}
.floating_item1{
    position:fixed;
    color: white;
    background-color: black;
    top: 400px;
}
.floating_item1 ul{
    padding: 0;
}
.icon_top{
    position: fixed;
    right: 50px;
    bottom: 10px;
    z-index: 9999;
}
.icon_top li{
    cursor: pointer;
    background-color: black;
    color: white;
    text-align: center;
    border: solid black 3px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 20px;
}
.content{
    height:1000px;
}